<form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
    <input type="text" name="username" [required]="true" email #username="ngModel" placeholder="Enter username" ngModel/>
    <br/>
    <span *ngIf="username.invalid && username.touched">
        <span *ngIf="username.errors && username.errors['required']">This field is required</span>
        <span *ngIf="username.errors && username.errors['email']">Please enter a valid email</span>
    </span>
    <br/>
    <input type="text" name="mobile" #mobile="ngModel" [required]="username?.valid || false"  placeholder="Enter mobile number" ngModel/>
    <br/>
    <span *ngIf="mobile.invalid && mobile.touched">
        
        This field is required
    </span>
    <br/>
    <input type="password" name="pwd" placeholder="Enter Password" ngModel/>
    <br/><br/>
    <input type="radio" name="gender" value="male" ngModel>Male
    <input type="radio" name="gender" value="female" ngModel>Female
    <br/><br/>
    <input type="checkbox" name="terms" ngModel /> Term & conditions
    <br/><br/>
    <input type="file" #image="ngModel" name="image" (change)="uploadImage($event)" ngModel>
    <br/><br/>
    <button type="submit">Submit</button>
</form>
